$sprites: (
    'hamburger': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e %3cg%3e %3cg%3e %3cpath d='M512%2c196.051c0-62.604-23.005-111.161-79.243-138.109c-49.18-23.566-116.836-26.743-176.531-26.743 S128.874%2c34.376%2c79.694%2c57.942C23.46%2c84.889%2c0.452%2c133.442%2c0.452%2c196.053v44.96h22.132L0%2c293.13l13.013%2c6.386 c6.481%2c3.184%2c11.862%2c6.93%2c17.412%2c11.166v50.225H0.451v14.987c0%2c57.846%2c47.509%2c104.907%2c105.906%2c104.907h300.734 c57.846%2c0%2c104.907-47.327%2c104.907-104.907v-14.987h-29.974v-51.621c4.828-3.467%2c9.474-6.445%2c15.223-9.074l14.569-6.66 l-22.182-52.54H512V196.051z M407.093%2c450.828H106.358c-36.67%2c0-67.352-25.886-74.407-60.047h448.57 C473.558%2c424.941%2c443.279%2c450.828%2c407.093%2c450.828z M449.302%2c296.198c-9.528%2c6.801-25.624%2c3.446-30.815-4.342 c-9.483-14.223-25.536-22.715-42.943-22.715c-17.408%2c0-33.46%2c8.492-42.943%2c22.715c-8.292%2c12.437-26.623%2c12.577-35.007%2c0 c-9.483-14.223-25.35-22.715-42.444-22.715c-17.094%2c0-32.961%2c8.492-42.444%2c22.715c-8.292%2c12.437-26.623%2c12.577-35.007%2c0 c-9.483-14.223-25.35-22.715-42.444-22.715c-17.094%2c0-32.961%2c8.492-42.443%2c22.715c-7.087%2c10.629-21.962%2c12.103-31.309%2c5.012 c-7.88-5.979-14.772-11.85-22.99-17.231l16.736-38.623h401.848l16.096%2c38.123C464.558%2c284.437%2c457.586%2c290.283%2c449.302%2c296.198z M452.053%2c327.654v33.255H60.399v-0.001v-31.722c20.824%2c5.904%2c44.4-1.271%2c57.354-20.703c3.969-5.953%2c10.349-9.368%2c17.504-9.368 c7.156%2c0%2c13.535%2c3.414%2c17.504%2c9.368c20.155%2c30.232%2c64.681%2c30.309%2c84.887%2c0c3.969-5.953%2c10.349-9.368%2c17.504-9.368 c7.156%2c0%2c13.535%2c3.414%2c17.504%2c9.368c20.154%2c30.231%2c64.68%2c30.31%2c84.887%2c0c3.969-5.953%2c10.531-9.368%2c18.003-9.368 s14.035%2c3.414%2c18.003%2c9.368C405.118%2c325.841%2c430.054%2c334.123%2c452.053%2c327.654z M482.026%2c211.04H30.425v-14.987 c0-55.442%2c19.772-90.739%2c62.221-111.08c43.768-20.972%2c107.251-23.801%2c163.58-23.801S376.037%2c64%2c419.805%2c84.973 c42.451%2c20.341%2c62.221%2c55.638%2c62.221%2c111.08V211.04z'/%3e %3c/g%3e %3c/g%3e %3cg%3e %3cg%3e %3crect x='121.343' y='151.097' width='29.974' height='29.974'/%3e %3c/g%3e %3c/g%3e %3cg%3e %3cg%3e %3crect x='241.237' y='151.097' width='29.974' height='29.974'/%3e %3c/g%3e %3c/g%3e %3cg%3e %3cg%3e %3crect x='361.131' y='151.097' width='29.974' height='29.974'/%3e %3c/g%3e %3c/g%3e %3cg%3e %3cg%3e %3crect x='301.184' y='91.15' width='29.974' height='29.974'/%3e %3c/g%3e %3c/g%3e %3cg%3e %3cg%3e %3crect x='181.29' y='91.15' width='29.974' height='29.974'/%3e %3c/g%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3c/svg%3e",
    'racing': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 511.999 511.999'%3e %3cg%3e %3cg%3e %3cpath d='M293.6%2c230.954c-13.81%2c0-25.045%2c11.235-25.045%2c25.045c0%2c13.81%2c11.235%2c25.045%2c25.045%2c25.045s25.045-11.235%2c25.045-25.045 C318.645%2c242.189%2c307.41%2c230.954%2c293.6%2c230.954z'/%3e %3c/g%3e %3c/g%3e %3cg%3e %3cg%3e %3cpath d='M310.189%2c155.037v45.163c12.862%2c3.83%2c23.872%2c11.989%2c31.333%2c22.788l42.956-13.958 C369.869%2c180.878%2c342.56%2c160.336%2c310.189%2c155.037z'/%3e %3c/g%3e %3c/g%3e %3cg%3e %3cg%3e %3cpath d='M394.754%2c240.574l-42.969%2c13.962c0.012%2c0.488%2c0.038%2c0.973%2c0.038%2c1.463c0%2c13.297-4.49%2c25.558-12.02%2c35.371l26.53%2c36.514 c18.279-18.492%2c29.583-43.892%2c29.583-71.885C395.916%2c250.757%2c395.518%2c245.606%2c394.754%2c240.574z'/%3e %3c/g%3e %3c/g%3e %3cg%3e %3cg%3e %3cpath d='M293.6%2c37.6H91.789c-9.161%2c0-16.588%2c7.427-16.588%2c16.588s7.427%2c16.588%2c16.588%2c16.588h86.226 c-18.192%2c11.393-34.595%2c25.385-48.68%2c41.46H16.588C7.427%2c112.237%2c0%2c119.665%2c0%2c128.826c0%2c9.161%2c7.427%2c16.588%2c16.588%2c16.588h88.75 c-19.138%2c32.456-30.138%2c70.258-30.138%2c110.585c0%2c46.924%2c14.879%2c90.438%2c40.161%2c126.077H68.295c-9.161%2c0-16.588%2c7.427-16.588%2c16.588 c0%2c9.161%2c7.427%2c16.588%2c16.588%2c16.588h76.019c10.343%2c9.702%2c21.628%2c18.408%2c33.701%2c25.969H18.299 c-9.161%2c0-16.588%2c7.427-16.588%2c16.588c0%2c9.161%2c7.427%2c16.588%2c16.588%2c16.588H293.6c120.427%2c0%2c218.399-97.974%2c218.399-218.399 S414.026%2c37.6%2c293.6%2c37.6z M374.178%2c364.859c-0.305%2c0.258-0.608%2c0.518-0.937%2c0.755c-0.37%2c0.269-0.749%2c0.52-1.132%2c0.754 c-22.164%2c15.811-49.269%2c25.123-78.509%2c25.123c-29.24%2c0-56.344-9.312-78.509-25.123c-0.384-0.234-0.762-0.485-1.132-0.754 c-0.328-0.239-0.631-0.499-0.937-0.755c-33.295-24.71-54.915-64.306-54.915-108.86c0-74.711%2c60.782-135.493%2c135.493-135.493 s135.493%2c60.782%2c135.493%2c135.493C429.093%2c300.554%2c407.474%2c340.149%2c374.178%2c364.859z'/%3e %3c/g%3e %3c/g%3e %3cg%3e %3cg%3e %3cpath d='M202.722%2c209.029l42.955%2c13.958c7.463-10.798%2c18.472-18.957%2c31.334-22.788v-45.163 C244.641%2c160.336%2c217.332%2c180.877%2c202.722%2c209.029z'/%3e %3c/g%3e %3c/g%3e %3cg%3e %3cg%3e %3cpath d='M312.979%2c310.894c-6.066%2c2.148-12.585%2c3.329-19.379%2c3.329c-6.792%2c0-13.313-1.181-19.379-3.329l-26.536%2c36.522 c13.816%2c6.967%2c29.414%2c10.899%2c45.915%2c10.899s32.099-3.931%2c45.915-10.899L312.979%2c310.894z'/%3e %3c/g%3e %3c/g%3e %3cg%3e %3cg%3e %3cpath d='M235.378%2c255.999c0-0.49%2c0.024-0.975%2c0.036-1.463l-42.969-13.962c-0.764%2c5.032-1.162%2c10.183-1.162%2c15.425 c0%2c27.994%2c11.305%2c53.394%2c29.584%2c71.887l26.53-36.516C239.868%2c281.558%2c235.378%2c269.296%2c235.378%2c255.999z'/%3e %3c/g%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3cg%3e %3c/g%3e %3c/svg%3e"
);

$sizes: (
    'hamburger': (
        'width': 512px,
        'height': 512px
    ),
    'racing': (
        'width': 511.999px,
        'height': 511.999px
    )
);

$variables: (
    
);

// https://github.com/waldemarfm/sass-svg-uri/blob/v1.0.0/_svg-uri.scss
@function sprite-str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if type-of($replace) == 'null' {
        $replace: '';
    }

    @if ( $index ) {
        @return str-slice($string, 1, $index - 1) + $replace + sprite-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function sprite-svg-uri($value) {
    $encoded: '';
    $slice: 2000;
    $index: 0;

    @for $i from 1 through ceil(str-length($value) / $slice) {
        $chunk: str-slice($value, $index, $index + $slice - 1);
        $chunk: sprite-str-replace($chunk, '"', "'");
        $chunk: sprite-str-replace($chunk, '<', '%3C');
        $chunk: sprite-str-replace($chunk, '>', '%3E');
        $chunk: sprite-str-replace($chunk, '&', '%26');
        $chunk: sprite-str-replace($chunk, '#', '%23');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }

    @return $encoded;
}

@mixin sprite($name, $user-variables: (), $include-size: false) {
    $sprite: map-get($sprites, $name);

    // Inject variables
    $default-variables: map-get($variables, $name);
    @if type-of($default-variables) == 'map' {
        @each $key, $value in map-merge($default-variables, $user-variables) {
            @if ( not map-has-key($default-variables, $key) ) {
                @warn 'Sprite \'#{$name}\' does not support variable named \'#{$key}\'';
            }

            $sprite: sprite-str-replace($sprite, '___#{$key}___', sprite-svg-uri(quote($value)));
        }
    } @else if type-of($user-variables) == 'map' {
        @warn 'Sprite \'#{$name}\' does not contain any variables';
    }

    background: url($sprite) center no-repeat;

    @if $include-size {
        $size: map-get($sizes, $name);
        background-size: map-get($size, width) map-get($size, height);
    }
}
