$sprites: (
    'dropdown': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e %3c!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3e %3cdesc%3eCreated with Sketch.%3c/desc%3e %3cdefs/%3e %3cg id='icon/dropdown' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e %3cg id='np_next_1480292_666666' transform='translate(12.400000%2c 12.100000) rotate(-270.000000) translate(-12.400000%2c -12.100000) translate(7.900000%2c 4.100000)' fill='%23666666' fill-rule='nonzero' stroke='%23666666'%3e %3cpath d='M0.9745%2c0.375 C0.78114%2c0.174805 0.462775%2c0.168945 0.262575%2c0.36230475 C0.06238%2c0.55566475 0.05652%2c0.87500475 0.24987975%2c1.07520475 L7.17462975%2c7.99995475 L0.24987975%2c14.9247048 C0.13366975%2c15.0116198 0.06140225%2c15.1444323 0.05065975%2c15.2899297 C0.040894%2c15.4344597 0.09362975%2c15.5760547 0.19616725%2c15.6786047 C0.29870475%2c15.7811547 0.44030725%2c15.8338772 0.58484225%2c15.8241122 C0.73034975%2c15.81337 0.86316725%2c15.7411047 0.95006725%2c15.6248922 L8.24981725%2c8.34939225 C8.44024725%2c8.15505725 8.44024725%2c7.84451725 8.24981725%2c7.65016725 L0.9745%2c0.375 Z' id='Shape'/%3e %3c/g%3e %3c/g%3e %3c/svg%3e",
    'search': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e %3c!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3e %3cdesc%3eCreated with Sketch.%3c/desc%3e %3cdefs/%3e %3cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e %3cg id='icon/search' fill='%23666666' fill-rule='nonzero'%3e %3cg id='np_search_1644150_000000'%3e %3cpath d='M10.3058824%2c20.8941176 C12.7345694%2c20.8941176 14.9647059%2c20.0470588 16.7438118%2c18.6352941 L21.7973647%2c23.6888471 C22.0234673%2c23.8873751 22.3058259%2c23.9998871 22.5881788%2c23.9998871 C22.8705318%2c23.9998871 23.1528847%2c23.8873864 23.3789929%2c23.6612894 C23.8312094%2c23.2090729 23.8312094%2c22.5031906 23.3789929%2c22.0521035 L18.3243106%2c17.0259388 C19.7360753%2c15.2468894 20.5831341%2c13.0168094 20.5831341%2c10.5880094 C20.6118099%2c4.91215059 15.9816282%2c0.282127059 10.3060518%2c0.282127059 C4.63047529%2c0.282127059 0.000169411765%2c4.91215059 0.000169411765%2c10.5880094 C0.000169411765%2c16.2638682 4.63019294%2c20.8938918 10.3060518%2c20.8938918 L10.3058824%2c20.8941176 Z M10.3058824%2c2.54117647 C14.7385412%2c2.54117647 18.3529412%2c6.15557647 18.3529412%2c10.5882353 C18.3529412%2c15.0208941 14.7385412%2c18.6352941 10.3058824%2c18.6352941 C5.87322353%2c18.6352941 2.25882353%2c15.0208941 2.25882353%2c10.5882353 C2.25882353%2c6.15557647 5.87322353%2c2.54117647 10.3058824%2c2.54117647 Z' id='Shape'/%3e %3c/g%3e %3c/g%3e %3c/g%3e %3c/svg%3e"
);

$sizes: (
    'dropdown': (
        'width': 24px,
        'height': 24px
    ),
    'search': (
        'width': 24px,
        'height': 24px
    )
);

$variables: (
    
);

// https://github.com/waldemarfm/sass-svg-uri/blob/v1.0.0/_svg-uri.scss
@function sprite-str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if type-of($replace) == 'null' {
        $replace: '';
    }

    @if ( $index ) {
        @return str-slice($string, 1, $index - 1) + $replace + sprite-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function sprite-svg-uri($value) {
    $encoded: '';
    $slice: 2000;
    $index: 0;

    @for $i from 1 through ceil(str-length($value) / $slice) {
        $chunk: str-slice($value, $index, $index + $slice - 1);
        $chunk: sprite-str-replace($chunk, '"', "'");
        $chunk: sprite-str-replace($chunk, '<', '%3C');
        $chunk: sprite-str-replace($chunk, '>', '%3E');
        $chunk: sprite-str-replace($chunk, '&', '%26');
        $chunk: sprite-str-replace($chunk, '#', '%23');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }

    @return $encoded;
}

@mixin sprite($name, $user-variables: (), $include-size: false) {
    $sprite: map-get($sprites, $name);

    // Inject variables
    $default-variables: map-get($variables, $name);
    @if type-of($default-variables) == 'map' {
        @each $key, $value in map-merge($default-variables, $user-variables) {
            @if ( not map-has-key($default-variables, $key) ) {
                @warn 'Sprite \'#{$name}\' does not support variable named \'#{$key}\'';
            }

            $sprite: sprite-str-replace($sprite, '___#{$key}___', sprite-svg-uri(quote($value)));
        }
    } @else if type-of($user-variables) == 'map' {
        @warn 'Sprite \'#{$name}\' does not contain any variables';
    }

    background: url($sprite) center no-repeat;

    @if $include-size {
        $size: map-get($sizes, $name);
        background-size: map-get($size, width) map-get($size, height);
    }
}
