/* ==|====================
   Components / Accordion
   ======================= */

$accordion-left-space: rem(16px);

.accordion {
	width: 100%;
	padding-bottom: rem(56px);

	&.is-open {
		> .accordion__trigger {
			.accordion__icon {
				
				&:after {
					opacity: 1;
					transition: opacity 300ms ease-in-out;
				}

				.icon {
					transform: rotate(-180deg);
					fill: white;
				}
			}

			.default-label {
				color: red;
			}
		}

		> .accordion__contentbox {
			height: auto;

			> .accordion__content {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	+ .accordion {
		margin-top: calc(#{rem(-56px)} - 1px);
	}

	.default-label {
		font-family: Arial;
		font-weight: 700;
		font-size: rem(21px);
		text-transform: uppercase;
		color: #0c0c0c;
		line-height: 1.1;
		padding: 3px 0;
	}
}

.accordion__trigger {
	display: flex;
	position: relative;
	width: 100%;
	padding-left: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.accordion__label-wrapper {
	position: relative;
	padding: rem(20px) rem(20px) rem(20px) 0;
	user-select: none;
	flex: 1;
}

.accordion__icon {
	position: relative;
	display: flex;
	flex: 0 0 rem(70px);
	border-left: 1px solid #ccc;
	align-items: center;
	justify-content: center;
	transition: background 300ms ease-in-out;

	.icon {
		position: relative;
		display: block;
		width: rem(16px);
		height: rem(16px);
		transform: rotate(0deg);
		transition: transform 300ms ease-in-out, fill 300ms ease-in-out;
		transform-origin: 50% 50%;
		fill: #000;
		z-index: 2;
	}

	&:after {
		position: absolute;
		top: -1px;
		bottom: -1px;
		left: -1px;
		right: 0;
		content: " ";
		opacity: 0;
		background-color: red;
		border: 1px solid red;
		transition: opacity 300ms ease-in-out;
	}
}

.accordion__contentbox {
	overflow: hidden;
	height: 0;
	transition: height 220ms linear;

	&.no-transition {
		transition: none;
	}
}

.accordion__content {
	padding: rem(16px);
	opacity: 0;
	transform: translateY(-10px);
	transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.accordion--quickview-person {
	> .accordion__trigger {
		&,
		> .accordion__label-wrapper {
			padding: 0;
		}
	}

	> .accordion__contentbox {
		> .accordion__content {
			padding: 0;
		}
	}
}

.accordion--no-side-padding {
	.accordion__content {
		padding-left: 0;
		padding-right: 0;
	}
}
