/* ==|====================
   Layout / LED Light
   ======================= */

.prev-c-ledbox {
  display: flex;
  align-items: center;
  margin-right: rem(6);
}

.prev-c-led {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  display: block;
  background-color: rgba($color2, 0.4);
  box-shadow: inset rgba(0, 0, 0, 0.3) 0 0px 0px 0.5px;

  &:last-child {
    margin-right: 0;
  }
}

.prev-c-led--green {
  background-color: rgba(171, 255, 0, 1);
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 0px 0px 0.5px, inset lighten(rgba(171, 255, 0, 1), 10) 0 0px 1px 3px, rgba(171, 255, 0, 0.4) 0 0px 8px 4px;
}

.prev-c-led--red {
  background-color: #ff0000;
  box-shadow: inset rgba(255, 255, 255, 0.3) 0 0px 0px 0.5px, inset lighten(#ff0000, 10) 0 0px 1px 3px, rgba(255, 111, 111, 0.4) 0 0px 8px 4px;
}
