{% extends "layouts/l00-preview/l00-index.njk" %}

{% set title = 'Custom Preview' %}

{% block preview %}

  <div class="prev-m-index">

      {% if index.modules.length > 1 %}
        <div class="prev-m-index__col prev-m-index--modules">
          <h2 class="prev-m-index__title">Modules</h2>
          <div class="prev-m-index__items">
          {% for module in index.modules %}
            {% if module.variant < 2 %}
              <article class="prev-m-index__item" data-name="{{ module.name }}" data-type="{{ module.type }}" data-path="{{ module.path }}">
                <a href="{{ module.targetPathFullRel }}"><canvas class="canvas" width="360" height="100"></canvas></a>
                <div class="prev-m-index__panel">
                  <div class="prev-m-index__itemcol prev-m-index__itemcol--grow">
                    <div class="prev-m-index__itemrow">
                      <a class="prev-m-index__itemtitle" href="{{ module.targetPathFullRel }}">{{ module.name }}</a>
                    </div>
                    <div class="prev-m-index__itemrow">
                      {% if module.config.design.length > 2 %}
                      <a class="prev-m-index__flag prev-m-index__flag--design" href="{{ module.config.design }}" target="_blank">D</a>
                      {% endif %}
                      {% if module.config.jira.length > 2 %}
                      <a class="prev-m-index__flag prev-m-index__flag--jira" href="{{ module.config.jira }}" target="_blank">J</a>
                      {% endif %}
                      {% if module.config.confluence.length > 2 %}
                      <a class="prev-m-index__flag prev-m-index__flag--confluence" href="{{ module.config.confluence }}" target="_blank">C</a>
                      {% endif %}
                    </div>
                  </div>
                </div>

                <footer class="prev-m-index__itemfooter">
                  <div class="prev-m-index__itemrow">
                    <div class="prev-c-ledbox">
                      <div class="prev-c-led"></div>
                    </div>
                    <div class="prev-m-index__metalbl prev-m-index__lastupdate">Last Commit: <span data-update></span></div>
                  </div>
                </footer>

              </article>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if index.components.length > 1 %}
        <div class="prev-m-index__col prev-m-index--components">
          <h2 class="prev-m-index__title">Components</h2>
          <div class="prev-m-index__items">
          {% for component in index.components %}
            {% if component.variant < 2 %}
              <article class="prev-m-index__item">

                <div class="prev-m-index__itemcol prev-m-index__itemcol--grow">
                  <div class="prev-m-index__itemrow">
                    <a class="prev-m-index__itemtitle" href="{{ component.targetPathFullRel }}">{{ component.name }}</a>
                  </div>
                  <div class="prev-m-index__itemrow">
                    {% if component.config.design.length > 2 %}
                    <a class="prev-m-index__flag prev-m-index__flag--design" href="{{ component.config.design }}" target="_blank">D</a>
                    {% endif %}
                    {% if component.config.jira.length > 2 %}
                    <a class="prev-m-index__flag prev-m-index__flag--jira" href="{{ component.config.jira }}" target="_blank">J</a>
                    {% endif %}
                    {% if component.config.confluence.length > 2 %}
                    <a class="prev-m-index__flag prev-m-index__flag--confluence" href="{{ component.config.confluence }}" target="_blank">C</a>
                    {% endif %}
                  </div>
                </div>

                <footer class="prev-m-index__itemfooter">
                  <div class="prev-m-index__itemrow">
                    <div class="prev-c-ledbox">
                      <div class="prev-c-led{% if component.config.update %} prev-c-led--green{% endif %}"></div>
                    </div>
                    <div class="prev-m-index__metalbl prev-m-index__lastupdate">{{ component.lastUpdateDate }} <span>{{ component.lastUpdateTime }}</span></div>
                  </div>
                </footer>

              </article>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}


      {% if index.pagetypes.length > 1 %}
        <div class="prev-m-index__col prev-m-index--pagetypes">
          <h2 class="prev-m-index__title">Pagetypes</h2>
          <div class="prev-m-index__items">
          {% for pagetype in index.pagetypes %}
            {% if pagetype.name != "index" %}
              <article class="prev-m-index__item">

                <div class="prev-m-index__itemcol prev-m-index__itemcol--grow">
                  <div class="prev-m-index__itemrow">
                    <a class="prev-m-index__itemtitle" href="{{ pagetype.targetPathFullRel }}">{{ pagetype.name }}</a>
                  </div>
                  <div class="prev-m-index__itemrow">
                    {% if pagetype.config.design.length > 2 %}
                    <a class="prev-m-index__flag prev-m-index__flag--design" href="{{ pagetype.config.design }}">D</a>
                    {% endif %}
                    {% if pagetype.config.jira.length > 2 %}
                    <a class="prev-m-index__flag prev-m-index__flag--jira" href="{{ pagetype.config.jira }}">J</a>
                    {% endif %}
                    {% if pagetype.config.confluence.length > 2 %}
                    <a class="prev-m-index__flag prev-m-index__flag--confluence" href="{{ pagetype.config.confluence }}">C</a>
                    {% endif %}
                  </div>
                </div>

                <footer class="prev-m-index__itemfooter">
                  <div class="prev-m-index__itemrow">
                    <div class="prev-c-ledbox">
                      <div class="prev-c-led{% if pagetype.config.update %} prev-c-led--green{% endif %}"></div>
                    </div>
                    <div class="prev-m-index__metalbl prev-m-index__lastupdate">{{ pagetype.lastUpdateDate }} <span>{{ pagetype.lastUpdateTime }}</span></div>
                  </div>
                </footer>

              </article>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}

  </div>

{% endblock %}
