/* ==|====================
   Layout / Servicenav
   ======================= */

.prev-m-index {
  display: flex;
  padding: 0 2rem;
}

.prev-m-index__title {
  color: $color3;
}

.prev-m-index__col {
  flex: 1;
  padding: 1rem;
}

.prev-m-index__itemcol {
  display: flex;
  flex-direction: column;
}

.prev-m-index__itemcol--grow {
  flex: 1;
  padding: 4px 11px 10px;
}

.prev-m-index__itemcol--meta {
  // todo
}

.prev-m-index__items {
  display: flex;
  flex-wrap: wrap;
}

.prev-m-index__panel {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.prev-m-index__item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 360px;
  margin: 0 1rem 1rem 0;
  background-color: $color7;
  border-bottom: 1px solid $color6;

  &.prev-m-index__item--update {
    border-bottom: 3px solid $color5;
  }

   > a {
    display: flex;
  }

  canvas {
    opacity: 1;
  }
}

.prev-m-index__itemfooter {
  flex-basis: 300%;
  padding: 4px 11px;
  color: $color3;
  background-color: $color6;
  background-image: linear-gradient(135deg, #474747 25%, #404040 25%, #404040 50%, #474747 50%, #474747 75%, #404040 75%, #404040 300%);
  background-size: 11.31px 11.31px;
}

.prev-m-index__itemrow {
  display: flex;
}

.prev-m-index__flag {
  width: 22px;
  height: 22px;
  margin-right: 0.25rem;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 11px;
  color: $color2;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  background-color: $color6;
  cursor: pointer;
  transition: background-color 120ms ease-out, color 120ms ease-in;

  &:hover {
    color: $color2;
  }

  &:last-child {
    margin-right: 0;
  }
}

.prev-m-index__itemtitle {
  padding: 4px 0 6px;
  font-weight: 400;
  font-size: rem(18);
  color: $color2;
}

.prev-m-index__metalbl {
  font-size: 11px;
  letter-spacing: 0.025rem;
}


.prev-m-index__flag--design {
  background-color: $color5;

  &:hover {
    background-color: darken($color5, 10);
  }
}

.prev-m-index__flag--jira {
  background-color: #0049b0;

  &:hover {
    background-color: darken(#0049b0, 10);
  }
}

.prev-m-index__flag--confluence {
  background-color: #003366;

  &:hover {
    background-color: darken(#003366, 10);
  }
}
