/* ==|====================
   Layout / Servicenav
   ======================= */

.prev-m-servicenav {
  display: flex;
}


.prev-m-servicenav__item {
  margin-right: 0.5rem;

  &:last-child {
    margin-right: 0;
  }
}

.prev-m-servicenav__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: $color2;
  background-color: lighten($color7, 2);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba($color1,0.39), 0 -1px 1px $color7, 0 1px 0 rgba($color3, 0.3);
  cursor: pointer;
  transition: color 120ms linear;
  user-select: none;

  &:focus {
    outline: 0;
  }

  &:hover:not(.prev-m-servicenav__link--active) {
    color: $color3;
    background-color: $color6;

    .prev-m-servicenav__lbl {
      color: $color2;
    }
  }
}

.prev-m-servicenav__linklbl {
  display: flex;
}

.prev-m-servicenav__linklbl--active {
  display: none;
}

.prev-m-servicenav__lbl {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  text-transform: uppercase;
  opacity: 0;
  transition: color 120ms linear, opacity 240ms ease-in;
}

.prev-m-servicenav__link--active {
  color: $color2;
  background-color: $color5;

  .prev-m-servicenav__lbl {
    font-size: 12px;
  }
}

.prev-m-servicenav__link--bundle {
  i:before {
    width: 44px;
    font-size: 32px;
    text-align: center;
  }
}

.prev-m-servicenav__link {
  .i:before {
    margin-top: 6px;
    font-size: 20px;
  }
  .i.i-close:before {
    margin-top: 2px;
    font-size: 12px;
  }
}

.prev-m-servicenav__link--readme {
  .i:before {
    margin-top: 4px;
    font-size: 17px;
  }
}
