{% import "components/c01-svg_icon/c01-svg_icon.njk" as svgIcon %}
{% import "components/c02-tab/c02-tab.njk" as tab %}

{#
    Module Accordion
#}

{% macro main(basePath='', labelContent='', classes = false) %}
    <!-- m-Accordion Item -->
    <div class="accordion{% if classes %}{% for class in classes %} {{ class }}{% endfor %}{% endif %}" data-accordion>
        <a class="accordion__trigger" data-accordion-trigger>
            <div class="accordion__label-wrapper">
                {{ labelContent }}
            </div>

            <div class="accordion__icon">
                {{ svgIcon.main( basePath=basePath, icon='angle-down' ) }}
            </div>
        </a>

        <div class="accordion__contentbox" data-accordion-contentbox>
            <div class="accordion__content" data-accordion-content>
                {{ caller() }}
            </div>
        </div>
    </div>
    <!-- END - m-Accordion Item-->
{% endmacro %}

{% macro accordionLabel(basePath='', label='') %}
    <div class="default-label">{{ label }}</div>
{% endmacro %}
