/* ==|====================
   Components / Boilerplate
   ======================= */

.c-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    padding-top: 0;
    padding-bottom: 0.5rem;
    font-size: rem(32);
    color: $color3;
    font-style: normal;
  }
  .text {
    font-weight: 300;
    font-size: rem(16);
    line-height: 1.4;
    font-family: $font-1;
    text-align: center;
    color: $color3;
    letter-spacing: 0.025rem;
  }
  .logo {
    width: 200px;
  }
}
