<!DOCTYPE html>
<html class="no-js" lang="de">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Darvin Preview</title>
      <meta name="description" content="Lorem description">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="format-detection" content="telephone=no">
   </head>
   <body>
      <article class="prev-l-pagewrapper">
        <header class="prev-l-pagewrapper">
          <div class="prev-l-constrainer">
            <span>Logo</span>
            <nav class="prev-m-servicenav"></nav>
          </div>
        </header>
         {% block preview %}
         {% endblock %}
      </article>
    </body>
</html>
