<!DOCTYPE html>
<html class="no-js" lang="de">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Preview</title>
      <meta name="description" content="Lorem description">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="format-detection" content="telephone=no">
   </head>
   <body>
      <article id="l-pagewrapper">
        <!-- start preview header -->
        <header id="prev-l-header">
          <div class="prev-l-constrainer">
            <div class="prev-m-logo">{{ darvin.moduleName }}</div>
          </div>
        </header>
        <!-- start main -->
        <main id="l-main" class="l-main--preview">
          <div id="l-content">
            {% block preview %}
            {% endblock %}
          </div>
        </main>
      </article>
    </body>
</html>
