<!DOCTYPE html>
<html class="no-js" lang="de">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{ darvin.moduleName }}</title>
      <meta name="description" content="Lorem description">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="format-detection" content="telephone=no">
   </head>
   <body class="preview">
      <article id="l-pagewrapper">
        <!-- start preview header -->
        <header id="prev-l-header">
          <div class="prev-l-constrainer">
            <div class="prev-m-title"><h1>{{ darvin.moduleName }}</h1></div>
            <nav class="prev-m-servicenav">
              {% if darvin.links.length > 1 %}
                  {% for link in darvin.links %}
                    <div class="prev-m-servicenav__item">
                      {% if link.active %}
                        <a class="prev-m-servicenav__link" href="{{ link.path }}">{{link.variant}}</a>
                      {% else %}
                        <span class="prev-m-servicenav__link prev-m-servicenav__link--active">{{link.variant}}</span>
                      {% endif %}
                    </div>
                  {% endfor %}
              {% endif %}
              <div class="prev-m-servicenav__item">
                <a class="prev-m-servicenav__link prev-m-servicenav__link--index" href="/">
                  <i class="far fa-list-alt fa-lg"></i>
                </a>
              </div>
            </nav>
          </div>
        </header>
        <!-- start main -->
        <main id="l-main" class="l-main--preview">
          <div id="l-content">
            {% block preview %}
            {% endblock %}
          </div>
        </main>
      </article>
    </body>
</html>
