/* ==|====================
   Settings / Fonts
   ======================= */

@font-face {
  font-weight: 400;
  font-family: "preview";
  font-style: normal;

  src: url("../../assets/fonts/preview.woff") format("woff");
}
