/* ==|====================
   Layout / Content
   ======================= */

.l-content {
   height: 100%;
   background-image: url("https://cdn-images-1.medium.com/max/2000/1*umG2CtquHzyLGFK7aIx2AQ.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
