/* ==|====================
   Layout / Content
   ======================= */

.l-content {
    background-image: url('https://cdn-images-1.medium.com/max/2000/1*umG2CtquHzyLGFK7aIx2AQ.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
}
