/* ==|====================
   Settings / Fonts
   ======================= */

/*@font-face {
    font-family: "Whatever";
    font-weight: 500;
    font-style: normal;
    src: url($path + "/fonts/myfont.eot");
    src: url($path + "/fonts/myfont.eot?#iefix") format('embedded-opentype'),url($path + '/fonts/myfont.woff2') format('woff2'),url($path + '/fonts/myfont.woff') format('woff'),url($path + '/fonts/myfont.ttf') format('truetype');
}*/
