<!DOCTYPE html>
<html class="no-js" lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="Lorem description">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        
        <meta property="og:url" content="http://www.tobiasfrei.ch" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="title lorem" />
        <meta property="og:description" content="lorem impsun" />
        <meta property="og:image" content="https://www.tobiasfrei.ch" />
        <meta property="og:locale" content="ch" />
    </head>
    <body>
        <div class="l-pagewrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>