<div class="l-content">
  <div class="m-demo">
    <div class="c-welcome">
      <img class="logo" src="{{imageSrc}}logo.svg">
      <h1 class="title">it works!</h1>
      <p class="text">..have fun..</p>
    </div>
  </div>
</div>
