/* ==|====================
   Components / Accordion
   ======================= */

$accordion-left-space: rem(16px);

.accordion {
  width: 100%;
  padding-bottom: rem(56px);

  &.is-open {
     > .accordion__trigger {
      .accordion__icon {
        &:after {
          opacity: 1;
          transition: opacity 300ms ease-in-out;
        }
        .icon {
          transform: rotate(-180deg);

          fill: white;
        }
      }

      .default-label {
        color: red;
      }
    }

     > .accordion__contentbox {
      height: auto;
       > .accordion__content {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

   + .accordion {
    margin-top: calc(#{rem(-56px)} - 1px);
  }

  .default-label {
    padding: 3px 0;
    font-weight: 700;
    font-size: rem(21px);
    line-height: 1.1;
    font-family: Arial;
    color: #0c0c0c;
    text-transform: uppercase;
  }
}

.accordion__trigger {
  position: relative;
  display: flex;
  width: 100%;
  padding-left: 10px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}

.accordion__label-wrapper {
  position: relative;
  flex: 1;
  padding: rem(20px) rem(20px) rem(20px) 0;
  user-select: none;
}

.accordion__icon {
  position: relative;
  display: flex;
  flex: 0 0 rem(70px);
  justify-content: center;
  align-items: center;
  border-left: 1px solid #cccccc;
  transition: background 300ms ease-in-out;

  .icon {
    position: relative;
    z-index: 2;
    display: block;
    width: rem(16px);
    height: rem(16px);
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 300ms ease-in-out, fill 300ms ease-in-out;

    fill: #000000;
  }

  &:after {
    content: " ";
    position: absolute;
    top: -1px;
    right: 0;
    bottom: -1px;
    left: -1px;
    background-color: red;
    border: 1px solid red;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
}

.accordion__contentbox {
  height: 0;
  overflow: hidden;
  transition: height 220ms linear;
  &.no-transition {
    transition: none;
  }
}

.accordion__content {
  padding: rem(16px);
  transform: translateY(-10px);
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.accordion--quickview-person {
   > .accordion__trigger {
    &,
     > .accordion__label-wrapper {
      padding: 0;
    }
  }
   > .accordion__contentbox {
     > .accordion__content {
      padding: 0;
    }
  }
}

.accordion--no-side-padding {
  .accordion__content {
    padding-right: 0;
    padding-left: 0;
  }
}
