{% extends "layouts/l00-preview/l00-preview.njk" %}

{% import "modules/m02-accordion/m02-accordion.njk" as accordion %}


{% block preview %}

     {% call accordion.main(basePath = basePath, classes = ['faq-accordion'], labelContent = accordion.accordionLabel(
         basePath = basePath,
         label = "Collapsible VAR2"
   )) %}
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
   {% endcall %}

{% endblock %}
